<html>
<p> Form</p>
  <div>
  <form id="book_form" action="/books/create" method="post">
    <input type="text" id="book_name" placeholder="Book Name" name="book_name">
    <button type="submit">Submit</button>
  </form>

  <button name="test" >click me</button>
  </div>
</html>